<ul class="listcar__list">
  <li *ngFor="let car of cars" class="listcar__item">
    <div class="listcar__info">
      <p><strong>{{car.brand}} {{car.model}}</strong></p>
      <p>Цена: {{car.price}}</p>
      <p>Год выпуска: {{car.year}}</p>
    </div>
    <div class="listcar__action">
      <button>
        <img src='./assets/icons/editIcon.svg' alt="Edit" title="Edit"/>
      </button>
      <button (click)="deleteCar(car.id)">
        <img src='./assets/icons/deleteIcon.svg' alt="Delete" title="Delete"/>
      </button>
    </div>
  </li>
</ul>
