<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <label>Бренд:
    <input formControlName="brand" type="text" name="addBrand"/>
  </label>
  <label>Модель:
    <input formControlName="model" type="text" name="addModel"/>
  </label>
  <label>Год выпуска:
    <input formControlName="year" type="number" name="addYear"/>
  </label>
  <label>Цена:
    <input formControlName="price" type="number" name="addPrice"/>
  </label>
  <div class="action">
    <button type="submit">
      Добавить
    </button>
  </div>
</form>

<app-notification *ngIf="notification.notificationFlags.isAdd"
                  [message]="notificationMessage">
</app-notification>
