* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Calibri;
  max-width: 1170px;
  min-width: 360px;
  margin: 0 auto;
  padding: 0 8px;
}

/*table styles*/
table {
  width: 100%;
  margin: 32px auto;
  text-align: center;
  border-collapse: collapse;
}

thead td {
  background-color: rgba(56, 56, 56, 0.62);
  font-weight: bold;

}

td {
  padding: 8px 0 8px 0;
  background-color: rgba(13, 171, 210, 0.62);
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #fff;
}

td img {
  width: 30px;
  height: 30px;
  transition: 200ms;
}

td img:hover {
  transform: scale(1.1);
}

/*form styles*/

.form {
  margin: 32px auto;
  border: 1px solid #eee;
  padding: 16px;
  min-width: 360px;
  max-width: 600px;
  border-radius: 3px;
}

.form label {
  display: block;
  font-weight: bold;
}

.form label input {
  width: 100%;
  display: block;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08);
  margin: 10px 0;
  outline: none;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0 0 0;
}


/*button styles*/
.button {
  width: 50%;
  margin: 0 8px 0 0;
  padding: 8px 16px;
  transition: 200ms;
  background-color: inherit;
  font-weight: bold;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.button-success {
  border: 3px solid #0ea10e;
  border-radius: 3px;
  color: #000;
}

.button-success:hover {
  background-color: #0ea10e;
  color: #fff;
}

.button-secondary {
  border: 3px solid #404040;
  border-radius: 3px;
  color: #000;
}

.button-secondary:hover {
  background-color: #404040;
  color: #fff;
}

