<header class="header">
  <div class="header__menu">
    <ul class="header__list">
      <li class="header__item">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          Главная
        </a>
      </li>
      <li class="header__item">
        <a routerLink="/about" routerLinkActive="active">
          О студенте
        </a>
      </li>
      <li class="header__item">
        <a routerLink="/list-car" routerLinkActive="active">
          Список машин
        </a>
      </li>
      <li class="header__item">
        <a routerLink="/add-car" routerLinkActive="active">
          Добавить машину
        </a>
      </li>
    </ul>
  </div>
</header>
